# Dependencies
node_modules/

# Environment
.env
.env.local
*.env.*
/alsania-rules/
alsania-rules.*
.secrets.env
.env.secrets
.env.dev
.env.prod
.venv/
venv
/venv/
venv/

# Logs
*.log

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp
.deprecated/
deprecated/
/.deprecated/
/deprecated/

# Build outputs
dist/
build/
*.js.map

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
